    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #020A18;
        font-family: 'Open Sans';
        font-size: 22px;
    }
    
    header {
        width: 100%;
        height: 100px;
        background: #060c1a
    }
    
    header .header_menu_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    header .header_menu_container a {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
    }
    
    .content {
        width: 1146px;
        margin: 0 auto;
        padding-top: 160px;
    }
    
    .content .rocket {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 128px;
    }
    
    .content .rocket .content_text h4 {
        color: #3A68B8;
        text-transform: uppercase;
        font-size: 18px;
    }
    
    .content .rocket .content_text h1 {
        color: white;
        padding-top: 20px;
        font-size: 55px;
        font-weight: 800;
    }
    
    .content .rocket .content_text p {
        color: grey;
        padding-top: 40px;
        font-size: 18px;
    }
    
    .content .rocket .content_text button {
        padding: 15px 28px;
        margin-top: 40px;
        border-radius: 5px;
        background: #3A68B8;
        color: white;
        font-weight: 600;
    }
    
    .content .rocket .content_text button img {
        width: 10px;
        height: 10px;
    }
    
    .content .rocket .content_img img {
        width: 414px;
        height: 415px;
    }
    
    .content .logo {
        width: 100%;
        padding-top: 197px;
        padding-bottom: 99px;
        height: 59px;
    }
    
    .content .logo .logo_1 {
        width: 217.64px;
        height: 58.9px;
    }
    
    .content .logo .logo_1 .vector_img_1 {
        width: 67.79px;
        height: 58.9px;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .content .logo .logo_1 .vector_img_1 .pv {
        left: 30px;
        position: absolute;
    }
    
    .content .logo .logo_1 .vector_img_1 .down {
        left: 10px;
        top: 30px;
        position: absolute;
    }
    
    .content .logo .logo_1 .logoipsum {
        position: relative;
        top: -50px;
        left: 80px;
    }
    
    .content .logo .logo_1 .logoipsum .L {
        position: absolute;
    }
    
    .content .logo .logo_1 .logoipsum .O {
        position: absolute;
        left: 17px;
        top: 5px;
    }
    
    .content .logo .logo_1 .logoipsum .G {
        position: absolute;
        left: 32px;
        top: 5px;
    }
    
    .content .logo .logo_1 .logoipsum .O2 {
        position: absolute;
        left: 47px;
        top: 5px;
    }
    
    .content .logo .logo_1 .logoipsum .I {
        position: absolute;
        left: 64px;
    }
    
    .content .logo .logo_1 .logoipsum .P {
        position: absolute;
        left: 73px;
        top: 5px;
    }
    
    .content .logo .logo_1 .logoipsum .S {
        position: absolute;
        left: 89px;
        top: 5px;
    }
    
    .content .logo .logo_1 .logoipsum .U {
        position: absolute;
        left: 103px;
        top: 5px;
    }
    
    .content .logo .logo_1 .logoipsum .M {
        position: absolute;
        left: 120px;
        top: 5px;
    }
    
    .content .logo .logo_1 .tech {
        position: relative;
        top: -30px;
        left: 80px;
    }
    
    .content .logo .logo_1 .tech .T {
        position: absolute;
        top: 5px;
    }
    
    .content .logo .logo_1 .tech .E {
        position: absolute;
        left: 10px;
        top: 8px;
    }
    
    .content .logo .logo_1 .tech .C {
        position: absolute;
        left: 21px;
        top: 8px;
    }
    
    .content .logo .logo_1 .tech .H {
        position: absolute;
        left: 31px;
        top: 5px;
    }
    
    .content .logo .logo_1 .tech .dog {
        position: absolute;
        left: 42px;
        top: 5px;
    }
    
    .content .logo .logo_1 .tech .C2 {
        position: absolute;
        left: 53px;
        top: 5px;
    }
    
    .content .logo .logo_1 .tech .O3 {
        position: absolute;
        left: 64px;
        top: 8px;
    }
    
    .content .logo .logo_1 .tech .point {
        position: absolute;
        left: 76px;
        top: 17px;
    }
    
    .content .logo .logo_2 {
        width: 212.3px;
        height: 59px;
    }
    
    .content .logo .logo_2 .text_logo {
        position: relative;
        top: -40px;
        left: 300px;
    }
    
    .content .logo .logo_2 .text_logo .L {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .content .logo .logo_2 .text_logo .O {
        position: absolute;
        top: 5px;
        left: 14px;
    }
    
    .content .logo .logo_2 .text_logo .G {
        position: absolute;
        top: 5px;
        left: 32px;
    }
    
    .content .logo .logo_2 .text_logo .O2 {
        position: absolute;
        top: 5px;
        left: 50px;
    }
    
    .content .logo .logo_2 .vector_front {
        position: relative;
        top: -40px;
        left: 330px;
    }
    
    .content .logo .logo_2 .vector_front .front1 {
        position: absolute;
        top: -2px;
        left: 69px;
    }
    
    .content .logo .logo_2 .vector_front .front2 {
        position: absolute;
        top: 17px;
        left: 71px;
    }
    
    .content .logo .logo_2 .vector_front .front3 {
        position: absolute;
        top: 20px;
        left: 56px;
    }
    
    .content .logo .logo_2 .vector_front .front4 {
        position: absolute;
        top: 5px;
        left: 50px;
    }